<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <link rel="apple-touch-icon" sizes="76x76" href="/../img/apple-icon.png">
  <link rel="icon" type="image/png" href="../img/favicon.png">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.3/font/bootstrap-icons.css">
  <title>
    SYS EC-AGREGAR PRODUCTO
  </title>
  <!--     Fonts and icons     -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700" rel="stylesheet" />
  <!-- Nucleo Icons -->
  <link href="../css/nucleo-icons.css" rel="stylesheet" />
  <link href="../css/nucleo-svg.css" rel="stylesheet" />
  <!-- Font Awesome Icons -->
  <script src="https://kit.fontawesome.com/42d5adcbca.js" crossorigin="anonymous"></script>
  <link href="../css/nucleo-svg.css" rel="stylesheet" />
  <!-- CSS Files -->
  <link id="pagestyle" href="/../css/soft-ui-dashboard.css?v=1.0.7" rel="stylesheet" />
  <!-- Nepcha Analytics (nepcha.com) -->
  <!-- Nepcha is a easy-to-use web analytics. No cookies and fully compliant with GDPR, CCPA and PECR. -->
  <!-- nepcha script  -->
</head>


<body class="g-sidenav-show  bg-gray-100">
  <%- include ('../partials/_sideNavBar.ejs') %>
    <main class="main-content position-relative max-height-vh-100 h-100 border-radius-lg ">
      <!-- Navbar -->
      <%- include ('../partials/_navBar.ejs') %>
        <!-- End Navbar -->
        <h4>
          <%= locals.title %>
        </h4>
        <form action="./add" method="POST" class="position-relative">
          <div class="row my-4">
            <div class="col-lg-12 col-md-12 mb-md-0 mb-4">
              <div class="card">
                <div class="card-header pb-0">
                  <div class="row">
                    <div class="col-lg-4 col-7">
                      <h6>
                        Datos principales
                      </h6>
                    </div>
                    <div
                      class="d-flex justify-content-between flex-wrap flex-md nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
                    </div>
                    <div class="col py-3">

                    </div>
                  </div>
                </div>
                <div class="row form-group mb-4">
                  <div class="col-12">
                    <h5>Conversion Un.</h5>
                    <div class="table-responsive ">
                      <table class="table table-striped table-success ">
                        <thead>
                          <tr>
                            <th class="text-uppercase text-primary text-xs font-weight-bolder opacity-100 ps-2 col-1">
                              Tipo
                            </th>
                            <th class="text-uppercase text-primary text-xs font-weight-bolder opacity-100 ps-2 col-2">
                              Rubro
                            </th>
                            <th class="text-uppercase text-primary text-xs font-weight-bolder opacity-100 ps-2 col-4">
                              Codigo
                            </th>
                            <th class="text-uppercase text-primary text-xs font-weight-bolder opacity-100 ps-2 col-3">
                              Descripción
                            </th>
                            <th class="text-uppercase text-primary text-xs font-weight-bolder opacity-100 ps-2 col-">
                              Stock
                              mínimo
                            </th>
                            <th class="text-uppercase text-primary text-xs font-weight-bolder opacity-100 ps-2 col-1">
                              Unidad
                            </th>
                          </tr>
                        </thead>
                        <tbody>
                          <tr>
                            <td class=" text-secondary text-xs font-weight-bolder text-black-100 col-2">
                              <select id="seltipo" class="col-12" aria-label="Default select example"
                                onchange="oprubro();">
                                <option value="">Selec. tipo</option>
                                <%tipoitem.forEach(element=> { %>
                                  <option name="tipoitemaux" value="<%= element.rubroitem  %>">
                                    <%= element.nombre %>
                                  </option>
                                  <% }) %>
                              </select>
                              <input hidden name="tipoitem" type="text" class="col-12" id="tipoitem" name="nombre"
                                value="" placeholder="">
                            </td>
                            <td class=" text-secondary text-xs font-weight-bolder text-black-100 col-2">
                              <select id="oprubros" name="rubroitem" class="col-12" aria-label="Default select example">
                              </select>
                            </td>
                            <td class=" text-secondary text-xs font-weight-bolder text-black-100 col-5">
                              <input type="text" class="col-12" id="nombre" name="nombre" value="" placeholder="">
                            </td>
                            <td class=" text-secondary text-xs font-weight-bolder text-black-100 col-5">
                              <input type="text" class="col-12" id="observacion" name="observacion" value=""
                                placeholder="">
                            </td>
                            <td class=" text-secondary text-xs font-weight-bolder text-black-100 col-1"> <input
                                type="number" class="" id="stockminimo" name="stockminimo" value="0" placeholder="">
                            </td>
                            <td class=" text-secondary text-xs font-weight-bolder text-black-100 col-1">
                              <select id="unidadSelect" class="" name="unidad" aria-label="Default select example">
                                <option value="un">Un</option>
                                <option value="m">m</option>
                                <option value="m2">m2</option>
                                <option value="m3">m3</option>
                                <option value="lt">Lt</option>
                                <option value="kg">Kg</option>
                                <option value="H">H</option>
                              </select>
                            </td>
                          </tr>
                        </tbody>
                      </table>
                    </div>
                  </div>
                </div>
                <!-- <div class="row form-group mb-4">
                  <div class="col-3">
                    <h5>Conversion Un.</h5>
                    <div class="table-responsive ">
                      <table class="table table-striped table-success ">
                        <thead>
                          <tr>
                            <th class="text-uppercase text-primary text-xs font-weight-bolder opacity-100 ps-2 ">Unidad
                            </th>
                            <th class="text-uppercase text-primary text-xs font-weight-bolder opacity-100 ps-2 ">valor
                            </th>
                          </tr>
                        </thead>
                        <tbody>
                          <tr>
                            <td class=" text-secondary text-xs font-weight-bolder text-black-100 col-1"> m x un.</td>
                            <td class=" text-secondary text-xs font-weight-bolder text-black-100 col-1"> <input
                                type="number" class="" name="mxunidad" value="0" placeholder="" step="0.001" min="0">
                            </td>
                          </tr>
                          <tr>
                            <td class=" text-secondary text-xs font-weight-bolder text-black-100 col-1"> m2 x un.</td>
                            <td class=" text-secondary text-xs font-weight-bolder text-black-100 col-1"> <input
                                type="number" class="" name="m2xunidad" value="0" placeholder="" step="0.001" min="0">
                            </td>
                          </tr>
                          <tr>
                            <td class=" text-secondary text-xs font-weight-bolder text-black-100 col-1"> m3 x un.</td>
                            <td class=" text-secondary text-xs font-weight-bolder text-black-100 col-1"> <input
                                type="number" class="" name="m3xunidad" value="0" placeholder="" step="0.001" min="0">
                            </td>
                          </tr>
                          <tr>
                            <td class=" text-secondary text-xs font-weight-bolder text-black-100 col-1">kg x un.</td>
                            <td class=" text-secondary text-xs font-weight-bolder text-black-100 col-1"> <input
                                type="number" class="" name="kgxunidad" value="0" placeholder="" step="0.001" min="0">
                            </td>
                          </tr>
                          <tr>
                            <td class=" text-secondary text-xs font-weight-bolder text-black-100 col-1">lt x un.</td>
                            <td class=" text-secondary text-xs font-weight-bolder text-black-100 col-1"> <input
                                type="number" class="" name="lxunidad" value="0" placeholder="" step="0.001" min="0">
                            </td>
                          </tr>
                        </tbody>
                      </table>
                    </div>
                  </div>
                  <div class="col">

                    <label for="details">Observaciones</label>
                    <textarea class="form-control" name="details" id="details" cols="25" rows="10"
                      placeholder="Observaciones"></textarea>
                  </div>
                </div>
                <div
                  class="d-flex justify-content-between flex-wrap flex-md nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
                </div>
                <div class="row form-group mb-4">
                  <div class="col-6">
                    <label for="details">Título para orden de compra</label>
                    <input class="form-control" name="ordencompratitulo" id="ordencompratitulo" placeholder="">
                    <label for="details">Descripcion para orden de compra</label>
                    <textarea class="form-control" name="ordencompradetails" id="ordencompradetails" cols="15" rows="5"
                      placeholder="Observaciones"></textarea>
                  </div>
                  <div class="col-6">
                    <label for="details">Título para cotización</label>
                    <input class="form-control" name="cotizaciontitulo" id="cotizaciontitulo"
                      placeholder="Observaciones">
                    <label for="details">Descripcion para orden de compra</label>
                    <textarea class="form-control" name="cotizaciondetails" id="cotizaciondetails" cols="15" rows="5"
                      placeholder="Observaciones"></textarea>
                  </div>
                </div>
                <div
                  class="d-flex justify-content-between flex-wrap flex-md nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
                </div>
                <div class="row form-group mb-4">
                  <div class="col-6">
                    <label for="details">Título (Tienda)</label>
                    <input class="form-control" name="tiendatitulo" id="ordencompratitulo" placeholder="">
                    <label for="details">Descripcion (Tienda)</label>
                    <textarea class="form-control" name="tiendadetalle" id="ordencompradetails" cols="15" rows="5"
                      placeholder="Observaciones"></textarea>
                    <label for="details">Material (Tienda)</label>
                    <input class="form-control" name="tiendamaterial" id="ordencompratitulo" placeholder="">
                    <label for="details">Cantidad (Tienda)</label>
                    <input class="form-control" name="tiendacantidad" id="ordencompratitulo" placeholder="">
                    <label for="details">Plazo entrega (Tienda)</label>
                    <input class="form-control" name="tiendaplazo" id="ordencompratitulo" placeholder="">
                  </div>
                  <div class="col-1">
                    <h5></h5>
                  </div>

 -->




                  <!-- <div class="col-5">
                                <h5>STOCK</h5>
                                <div class="table-responsive ">
                                  <table class="table table-striped table-success ">
                                    <thead>
                                      <tr>
                                        <th class="text-uppercase text-primary text-xs font-weight-bolder opacity-100 ps-2 ">Lugar
                                        </th>
                                        <th class="text-uppercase text-primary text-xs font-weight-bolder opacity-100 ps-2 ">
                                          Posición
                                        </th>
                                        <th class="text-uppercase text-primary text-xs font-weight-bolder opacity-100 ps-2 ">Cant
                                        </th>
                                      </tr>
                                    </thead>
                                    <tbody>
                                      <tr>
                                        <td class=" text-secondary text-xs font-weight-bolder text-black-100 col-1"> Proceso compra
                                        </td>
                                        <td></td>
              
                                        <td class=" text-secondary text-xs font-weight-bolder text-black-100 col-1">
                                          <input  class="" id="" name="stockcompras"  type="number" name="mxunidad" value="0" placeholder="" step="0.001" min="0"
                                            placeholder="">
                                        </td>
                                      <tr>
                                        <tr>
                                          <td class=" text-secondary text-xs font-weight-bolder text-black-100 col-1"> Reservado
                                          </td>
                                          <td></td>
                
                                          <td class=" text-secondary text-xs font-weight-bolder text-black-100 col-1">
                                            <input  class="" id="" name="stockreservado"  type="number" name="mxunidad" value="0" placeholder="" step="0.001" min="0"
                                              placeholder="">
                                          </td>
                                        <tr>
                                        <td class=" text-secondary text-xs font-weight-bolder text-black-100 col-1"> Sector producción
                                        </td>
                                        <td></td>
                                        <td class=" text-secondary text-xs font-weight-bolder text-black-100 col-1">
                                          <input type="text" class="" id="" name="stockproduccion" type="number" name="mxunidad" value="0" placeholder="" step="0.001" min="0" placeholder="">
                                        </td>
              
                                      <tr>
                                        <td class=" text-secondary text-xs font-weight-bolder text-black-100 col-1"> Posición 1</td>
                                        <td class=" text-secondary text-xs font-weight-bolder text-black-100 col-1">
                                          <input type="text" class="" id="stockpos1" name="stockpos1"
                                          type="number" name="mxunidad" value="0" placeholder="" step="0.001" min="0" placeholder="">
                                        </td>
                                        <td class=" text-secondary text-xs font-weight-bolder text-black-100 col-1">
                                          <input  class="" id="stock1" name="stock1" type="number" name="mxunidad" value="0" placeholder="" step="0.001" min="0"
                                            placeholder="">
                                        </td>
                                      </tr>
                                      <tr>
                                        <td class=" text-secondary text-xs font-weight-bolder text-black-100 col-1"> Posición 2</td>
                                        <td class=" text-secondary text-xs font-weight-bolder text-black-100 col-1">
                                          <input type="text" class="" id="stockpos2" name="stockpos2"
                                          type="number" name="mxunidad" value="0" placeholder="" step="0.001" min="0" placeholder="">
                                        </td>
                                        <td class=" text-secondary text-xs font-weight-bolder text-black-100 col-1">
                                          <input  class="" id="stock2" name="stock2" type="number" name="mxunidad" value="0" placeholder="" step="0.001" min="0"
                                            placeholder="">
                                        </td>
                                      </tr>
                                      <tr>
                                        <td class=" text-secondary text-xs font-weight-bolder text-black-100 col-1"> Posición 3</td>
                                        <td class=" text-secondary text-xs font-weight-bolder text-black-100 col-1">
                                          <input type="text" class="" id="stockpos3" name="stockpos3"
                                          type="number" name="mxunidad" value="0" placeholder="" step="0.001" min="0" placeholder="">
                                        </td>
                                        <td class=" text-secondary text-xs font-weight-bolder text-black-100 col-1">
                                          <input  class="" id="stock3" name="stock3" type="number" name="mxunidad" value="0" placeholder="" step="0.001" min="0"
                                            placeholder="">
                                        </td>
                                      </tr>
                                      <tr>
                                        <td class=" text-secondary text-xs font-weight-bolder text-black-100 col-1"> Posición 4</td>
                                        <td class=" text-secondary text-xs font-weight-bolder text-black-100 col-1">
                                          <input type="text" class="" id="stockpos4" name="stockpos4"
                                          type="number" name="mxunidad" value="0" placeholder="" step="0.001" min="0" placeholder="">
                                        </td>
                                        <td class=" text-secondary text-xs font-weight-bolder text-black-100 col-1">
                                          <input  class="" id="stock4" name="stock4" type="number" name="mxunidad" value="0" placeholder="" step="0.001" min="0"
                                            placeholder="">
                                        </td>
                                      </tr>
                                      <tr>
                                        <td class=" text-secondary text-xs font-weight-bolder text-black-100 col-1"> Entregados</td>
                                        <td class=" text-secondary text-xs font-weight-bolder text-black-100 col-1">
                                        </td>
                                        <td class=" text-secondary text-xs font-weight-bolder text-black-100 col-1">
                                          <input type="number" class="" id="" name="stockentregado"  name="mxunidad" value="0" placeholder="" step="0.001" min="0"
                                            value="" placeholder="">
                                        </td>
                                      </tr>
                                    </tbody>
                                  </table>
                                </div>
                              </div> -->
                </div>
                <div class="row form-group mb-4">
                </div>
                <div class="row form-group mb-4">
                  <div class="col">
                    <input hidden type="text" class="" id="itemagregadocant" name="itemagregadocant" value="0"
                      placeholder="">
                    <input type="text" class="" id="indicatoragregadocant" name="indicatoragregadocant" value="0"
                      placeholder="" hidden>
                  </div>
                </div>
                <div class="form-group mb-4">
                  <button type="submit" class="btn btn-primary">Guardar</button>
                  <a href="/itemcompra/index" class="btn btn-info" role="button">Volver</a>
                  <button type="button" class="btn btn-danger" data-bs-toggle="modal" id="deleteButton"
                    data-bs-target="#deleteModal">Eliminar</button>
                </div>

                <div class="modal fade" tabindex="-1" role="dialog" id="deleteModal">
                  <div class="modal-dialog" role="document">
                    <div class="modal-content">
                      <div class="modal-header">
                        <div class="modal-title">Creación de registro</div>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                      </div>
                      <div class="modal-body">
                        <p>
                          Se dará de alta un nuevo Item <b class="fw-bold"> </b><br />
                          Estás seguro?
                        </p>
                      </div>
                      <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
                        <button type="submit" class="btn btn-primary">SI, Crear</button>
        </form>
        </div>
        </div>
        </div>
        </div>
        </div>
        <%- include ('../partials/_footer.ejs') %>
          </div>
    </main>
    <div class="fixed-plugin">
      <a class="fixed-plugin-button text-dark position-fixed px-3 py-2">
        <i class="bi bi-gear-fill py-2"> </i>
      </a>
      <div class="card shadow-lg ">
        <div class="card-header pb-0 pt-3 ">
          <div class="float-start">
            <h5 class="mt-3 mb-0">Configuracion</h5>
            <p>Personaliza tu dashboard.</p>
          </div>
          <div class="float-end mt-4">
            <button class="btn btn-link text-dark p-0 fixed-plugin-close-button">
              <i class="bi bi-x-circle-fill"></i>
            </button>
          </div>
          <!-- End Toggle Button -->
        </div>
        <hr class="horizontal dark my-1">
        <div class="card-body pt-sm-3 pt-0">
          <!-- Sidebar Backgrounds -->
          <div>
            <h6 class="mb-0">Color Barra lateral</h6>
          </div>
          <a href="javascript:void(0)" class="switch-trigger background-color">
            <div class="badge-colors my-2 text-start">
              <span class="badge filter bg-gradient-primary active" data-color="primary"
                onclick="sidebarColor(this)"></span>
              <span class="badge filter bg-gradient-dark" data-color="dark" onclick="sidebarColor(this)"></span>
              <span class="badge filter bg-gradient-info" data-color="info" onclick="sidebarColor(this)"></span>
              <span class="badge filter bg-gradient-success" data-color="success" onclick="sidebarColor(this)"></span>
              <span class="badge filter bg-gradient-warning" data-color="warning" onclick="sidebarColor(this)"></span>
              <span class="badge filter bg-gradient-danger" data-color="danger" onclick="sidebarColor(this)"></span>
            </div>
          </a>
          <!-- Sidenav Type -->
          <div class="mt-3">
            <h6 class="mb-0">Tipo de barra lateral</h6>
            <p class="text-sm">Selecciona un tipo de barra</p>
          </div>
          <div class="d-flex">
            <button class="btn bg-gradient-primary w-100 px-3 mb-2 active" data-class="bg-transparent"
              onclick="sidebarType(this)">Transparente</button>
            <button class="btn bg-gradient-primary w-100 px-3 mb-2 ms-2" data-class="bg-white"
              onclick="sidebarType(this)">Blanco</button>
          </div>
          <p class="text-sm d-xl-none d-block mt-2"></p>
          <!-- Navbar Fixed -->
          <div class="mt-3">
            <h6 class="mb-0">Barra superior fija</h6>
          </div>
          <div class="form-check form-switch ps-0">
            <input class="form-check-input mt-1 ms-auto" type="checkbox" id="navbarFixed" onclick="navbarFixed(this)">
          </div>
        </div>
      </div>
    </div>
    <!--   Core JS Files   -->
    <script src="../js/core/popper.min.js"></script>
    <script src="../js/core/bootstrap.min.js"></script>
    <script src="../js/plugins/perfect-scrollbar.min.js"></script>
    <script src="../js/plugins/smooth-scrollbar.min.js"></script>
    <script src="../js/plugins/chartjs.min.js"></script>

    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"
      integrity="sha384-oBqDVmMz9ATKxIep9tiCxS/Z9fNfEXiDAYTujMAeBAsjFuCZSmKbSSUnQlmh/jp3"
      crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.min.js"
      integrity="sha384-mQ93GR66B00ZXjt0YO5KlohRA5SY2XofN4zfuZxLkoj1gXtW8ANNCe9d5Y3eG5eD"
      crossorigin="anonymous"></script>

    <script>
      const oprubro = () => {
        const rubros = document.getElementById("seltipo").value;
        const tipoaux = document.getElementById("seltipo").innerText;
        console.log('aaaa-=', tipoaux)
        let arr = rubros.split(',');

        let op = ' '
        const a = ' <option name="rubroitem" value="'
        const b = '">'
        const c = '</option>"'
        const list = document.getElementById("oprubros");
        const tipo = document.getElementById("tipoitem");
        for (let i = 1; i < arr.length; i++) {
          op = op + a + arr[i] + b + arr[i] + c
        }
        list.innerHTML = op
        tipo.value = arr[0]
      }
    </script>

    <script>
      var ctx = document.getElementById("chart-bars").getContext("2d");
      new Chart(ctx, {
        type: "bar",
        data: {
          labels: ["Apr", "May", "Jun", "Jul", "Aug", "Sep", "Oct", "Nov", "Dec"],
          datasets: [{
            label: "Sales",
            tension: 0.4,
            borderWidth: 0,
            borderRadius: 4,
            borderSkipped: false,
            backgroundColor: "#fff",
            data: [450, 200, 100, 220, 500, 100, 400, 230, 500],
            maxBarThickness: 6
          },],
        },
        options: {
          responsive: true,
          maintainAspectRatio: false,
          plugins: {
            legend: {
              display: false,
            }
          },
          interaction: {
            intersect: false,
            mode: 'index',
          },
          scales: {
            y: {
              grid: {
                drawBorder: false,
                display: false,
                drawOnChartArea: false,
                drawTicks: false,
              },
              ticks: {
                suggestedMin: 0,
                suggestedMax: 500,
                beginAtZero: true,
                padding: 15,
                font: {
                  size: 14,
                  family: "Open Sans",
                  style: 'normal',
                  lineHeight: 2
                },
                color: "#fff"
              },
            },
            x: {
              grid: {
                drawBorder: false,
                display: false,
                drawOnChartArea: false,
                drawTicks: false
              },
              ticks: {
                display: false
              },
            },
          },
        },
      });

      var ctx2 = document.getElementById("chart-line").getContext("2d");
      var gradientStroke1 = ctx2.createLinearGradient(0, 230, 0, 50);
      gradientStroke1.addColorStop(1, 'rgba(203,12,159,0.2)');
      gradientStroke1.addColorStop(0.2, 'rgba(72,72,176,0.0)');
      gradientStroke1.addColorStop(0, 'rgba(203,12,159,0)'); //purple colors
      var gradientStroke2 = ctx2.createLinearGradient(0, 230, 0, 50);
      gradientStroke2.addColorStop(1, 'rgba(20,23,39,0.2)');
      gradientStroke2.addColorStop(0.2, 'rgba(72,72,176,0.0)');
      gradientStroke2.addColorStop(0, 'rgba(20,23,39,0)'); //purple colors
      new Chart(ctx2, {
        type: "line",
        data: {
          labels: ["Apr", "May", "Jun", "Jul", "Aug", "Sep", "Oct", "Nov", "Dec"],
          datasets: [{
            label: "Mobile apps",
            tension: 0.4,
            borderWidth: 0,
            pointRadius: 0,
            borderColor: "#cb0c9f",
            borderWidth: 3,
            backgroundColor: gradientStroke1,
            fill: true,
            data: [50, 40, 300, 220, 500, 250, 400, 230, 500],
            maxBarThickness: 6
          },
          {
            label: "Websites",
            tension: 0.4,
            borderWidth: 0,
            pointRadius: 0,
            borderColor: "#3A416F",
            borderWidth: 3,
            backgroundColor: gradientStroke2,
            fill: true,
            data: [30, 90, 40, 140, 290, 290, 340, 230, 400],
            maxBarThickness: 6
          },
          ],
        },

        options: {
          responsive: true,
          maintainAspectRatio: false,
          plugins: {
            legend: {
              display: false,
            }
          },
          interaction: {
            intersect: false,
            mode: 'index',
          },
          scales: {
            y: {
              grid: {
                drawBorder: false,
                display: true,
                drawOnChartArea: true,
                drawTicks: false,
                borderDash: [5, 5]
              },
              ticks: {
                display: true,
                padding: 10,
                color: '#b2b9bf',
                font: {
                  size: 11,
                  family: "Open Sans",
                  style: 'normal',
                  lineHeight: 2
                },
              }
            },
            x: {
              grid: {
                drawBorder: false,
                display: false,
                drawOnChartArea: false,
                drawTicks: false,
                borderDash: [5, 5]
              },
              ticks: {
                display: true,
                color: '#b2b9bf',
                padding: 20,
                font: {
                  size: 11,
                  family: "Open Sans",
                  style: 'normal',
                  lineHeight: 2
                },
              }
            },
          },
        },
      });
    </script>

    <script>
      var win = navigator.platform.indexOf('Win') > -1;
      if (win && document.querySelector('#sidenav-scrollbar')) {
        var options = {
          damping: '0.5'
        }
        Scrollbar.init(document.querySelector('#sidenav-scrollbar'), options);
      }
    </script>

    <!-- Github buttons -->
    <script async defer src="https://buttons.github.io/buttons.js"></script>
    <!-- Control Center for Soft Dashboard: parallax effects, scripts for the example pages etc -->
    <script src="../js/soft-ui-dashboard.min.js?v=1.0.7"></script>
</body>

</html>