<!DOCTYPE html>
<html lang="en">

<head>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
  <!-- Global site tag (gtag.js) - Google Analytics -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=UA-82100511-5"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag() { dataLayer.push(arguments); }
    gtag('js', new Date());

    gtag('config', 'UA-82100511-5');
  </script>

  <title>JSON table editor</title>
  <meta name="description"
    content="JSON table editor is a minimal, yet flexible HTML table editor, where you can attach formatting to each cell and it gives you JSON output." />
  <meta name="keywords" content="html, table, editor, JSON, json-table, json-table-editor, editable" />


  <link rel="stylesheet" href="/dist/json-table-editor.min.css" />
  <script src="https://cdn.rawgit.com/google/code-prettify/master/loader/run_prettify.js"></script>

  </style>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <link rel="apple-touch-icon" sizes="76x76" href="/../img/apple-icon.png">
  <link rel="icon" type="image/png" href="../img/favicon.png">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.3/font/bootstrap-icons.css">
  <title>
    SYS EC-NUEVA ORDEN DE TRABAJO
  </title>
  <!--     Fonts and icons     -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700" rel="stylesheet" />
  <!-- Nucleo Icons -->
  <link href="../css/nucleo-icons.css" rel="stylesheet" />
  <link href="../css/nucleo-svg.css" rel="stylesheet" />
  <!-- Font Awesome Icons -->
  <script src="https://kit.fontawesome.com/42d5adcbca.js" crossorigin="anonymous"></script>
  <link href="../css/nucleo-svg.css" rel="stylesheet" />
  <!-- CSS Files -->
  <link id="pagestyle" href="/../css/soft-ui-dashboard.css?v=1.0.7" rel="stylesheet" />
  <!-- Nepcha Analytics (nepcha.com) -->
  <!-- Nepcha is a easy-to-use web analytics. No cookies and fully compliant with GDPR, CCPA and PECR. -->
  <!-- nepcha script  -->
</head>

<body class="g-sidenav-show  bg-gray-100">
  <%- include ('../partials/_sideNavBar.ejs') %>

    <main class="main-content position-relative max-height-vh-100 h-100 border-radius-lg ">
      <!-- Navbar -->
      <%- include ('../partials/_navBar.ejs') %>
        <!-- End Navbar -->
       
          <div class="row my-4">
            <div class="col-lg-12 col-md-12 mb-md-0 mb-4">
              <div class="card">
                <div class="card-header pb-0">
                  <div class="row">
                    <div class="row form-group mb-4">

                    </div>

                  </div>
                </div>



                <div id="datos">

                  <div class="row form-group mb-4">
                  
                  

                    
                   
           
                    <form action="../add" method="POST" class="position-relative">
                      <input hidden type="text" class="form-control" name="_iditemcompra" value="<%= itemcompra._id %>"
                      placeholder="">
                   
                    <input hidden type="text" class="form-control" name="iditemcompra"
                      value="<%= itemcompra.iditemcompra %>-<%= itemcompra.hijo%>" placeholder="">
                    <input hidden type="text" class="form-control" name="nombreitemcompra"
                      value='<%= itemcompra.nombre %>-<%= itemcompra.observacion %>' placeholder="">

                  </div>


                  <div class="row form-group mb-4">
                    <div class="col-12">
                      <h5>Datos del Item</h5>
                      <div class="table-responsive ">

                        <table class="table table-striped table-success ">
                          <thead>
                            <tr>
                              <th class="text-uppercase text-primary text-xs font-weight-bolder opacity-100 ps-2 col-3">
                                Título
                              </th>
                              <th hidden class="text-uppercase text-primary text-xs font-weight-bolder opacity-100 col-1 ">
                                Cant
                              </th>
                              <th hidden class="text-uppercase text-primary text-xs font-weight-bolder opacity-100 col-1 ">
                                Mercado
                              </th>
                              <th hidden class="text-uppercase text-primary text-xs font-weight-bolder opacity-100 ps-2 col-1">
                                Unidad
                              </th>
                              <th class="text-uppercase text-primary text-xs font-weight-bolder opacity-100 ps-2 col-1">
                                Fecha Inicio
                              </th>
                              <th class="text-uppercase text-primary text-xs font-weight-bolder opacity-100 ps-2 col-1">
                                Fecha Objetivo
                              </th>
                              <th hidden class="text-uppercase text-primary text-xs font-weight-bolder opacity-100 ps-2 col-1">
                                Precio de venta U$S
                              </th>
                              <th hidden class="text-uppercase text-primary text-xs font-weight-bolder opacity-100 ps-2 col-1">
                            
                              </th>
                            </tr>
                            

                          </thead>
                          <tbody>
                            <tr>
                              <td class="  ">
                                <input disabled type="text" class="" id="titulo" size="90"  value="<%= itemcompra.iditemcompra %>-<%= itemcompra.hijo%>-<%= itemcompra.nombre %>-<%= itemcompra.observacion %>" placeholder="">
                                <input hidden type="text" class="" id="titulo" size="90" name="titulo" value="<%= itemcompra.iditemcompra %>-<%= itemcompra.hijo%>-<%= itemcompra.nombre %>-<%= itemcompra.observacion %>" placeholder="">
                              </td>
                              <td class="  ">
                                <input disabled type="text" class="" id="cant" size="5"  value="0" placeholder="">
                                <input hidden type="text" class="" id="cant" size="5" name="cant" value="0" placeholder="">
                              </td>
                              <td class="  " hidden>
                                <select class="" name="mercado">
                                  <option value="Int">Interno</option>
                                  <option value="Expo">Exportacion</option>
                                </select>
                              </td>
                              <td class=" " hidden>
                                <select class="" name="unidadnegocio">
                                  <option value="UN-1">UN-1</option>
                                  <option value="UN-2">UN-2</option>
                                </select>
                              </td>
                              <td class="  " >
                                <input type="text" class="" id="titulo" size="20" name="fechaventa" value="AAAA-MM-DD"
                                  placeholder="">
                              </td>
                              <td class=" " >
                                <input type="text" class="" id="titulo" size="20" name="fechaentrega" value="AAAA-MM-DD"
                                  placeholder="">
                              </td>
                              <td class=" " hidden>
                                <input type="text" class="" id="precioventa" name="precioventa" value="0.1"
                                  placeholder="">
                                <!-- <select class="" name="unidad">
                                  <option value="USD" selected>USD</option>
                                  <option value="ARS">ARS</option>
                                </select> -->
                              </td>
                              <td hidden>
                                <input hidden type="number" class="" id="precioventa" name="numero01"
                                    value="0.1" type="number" step="0.001" min="0" placeholder="">
                                  </td>
                            </tr>

                            </tr>
                          </tbody>
                        </table>
                      </div>
                    </div>
                  </div>



                  <div class="row form-group mb-4">
                    <div class="col-12">
                      <table class="table table-striped table-success ">
                        <thead>


                       

                <div class="form-group mb-4">
                  <a href="/ordentrabajo/index" class="btn btn-info" role="button">Volver</a>
                  <button type="button" class="btn btn-danger" data-bs-toggle="modal" id="deleteButton"
                    data-bs-target="#deleteModal">Crear</button>
                </div>
                <div class="modal fade" tabindex="-1" role="dialog" id="deleteModal">
                  <div class="modal-dialog" role="document">
                    <div class="modal-content">
                      <div class="modal-header">
                        <div class="modal-title">Creación de registro</div>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                      </div>
                      <div class="modal-body">
                        <p>
                          Se dará de alta una nueva Orden de Trabajo <b class="fw-bold"> </b><br />
                          Estás seguro?
                        </p>
                      </div>
                      <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
                        <button type="submit" class="btn btn-primary">Aceptar</button>
        </form>
        </div>
        </div>
        </div>
      
          </div>

          </div>

          <%- include ('../partials/_footer.ejs') %>

            </div>
    </main>

    <div class="fixed-plugin">
      <a class="fixed-plugin-button text-dark position-fixed px-3 py-2">
        <i class="bi bi-gear-fill py-2"> </i>
      </a>
      <div class="card shadow-lg ">
        <div class="card-header pb-0 pt-3 ">
          <div class="float-start">
            <h5 class="mt-3 mb-0">Configuracion</h5>
            <p>Personaliza tu dashboard.</p>
          </div>
          <div class="float-end mt-4">
            <button class="btn btn-link text-dark p-0 fixed-plugin-close-button">
              <i class="bi bi-x-circle-fill"></i>
            </button>
          </div>
          <!-- End Toggle Button -->
        </div>
        <hr class="horizontal dark my-1">
        <div class="card-body pt-sm-3 pt-0">
          <!-- Sidebar Backgrounds -->
          <div>
            <h6 class="mb-0">Color Barra lateral</h6>
          </div>
          <a href="javascript:void(0)" class="switch-trigger background-color">
            <div class="badge-colors my-2 text-start">
              <span class="badge filter bg-gradient-primary active" data-color="primary"
                onclick="sidebarColor(this)"></span>
              <span class="badge filter bg-gradient-dark" data-color="dark" onclick="sidebarColor(this)"></span>
              <span class="badge filter bg-gradient-info" data-color="info" onclick="sidebarColor(this)"></span>
              <span class="badge filter bg-gradient-success" data-color="success" onclick="sidebarColor(this)"></span>
              <span class="badge filter bg-gradient-warning" data-color="warning" onclick="sidebarColor(this)"></span>
              <span class="badge filter bg-gradient-danger" data-color="danger" onclick="sidebarColor(this)"></span>
            </div>
          </a>
          <!-- Sidenav Type -->
          <div class="mt-3">
            <h6 class="mb-0">Tipo de barra lateral</h6>
            <p class="text-sm">Selecciona un tipo de barra</p>
          </div>
          <div class="d-flex">
            <button class="btn bg-gradient-primary w-100 px-3 mb-2 active" data-class="bg-transparent"
              onclick="sidebarType(this)">Transparente</button>
            <button class="btn bg-gradient-primary w-100 px-3 mb-2 ms-2" data-class="bg-white"
              onclick="sidebarType(this)">Blanco</button>
          </div>
          <p class="text-sm d-xl-none d-block mt-2"></p>
          <!-- Navbar Fixed -->
          <div class="mt-3">
            <h6 class="mb-0">Barra superior fija</h6>
          </div>
          <div class="form-check form-switch ps-0">
            <input class="form-check-input mt-1 ms-auto" type="checkbox" id="navbarFixed" onclick="navbarFixed(this)">
          </div>
          <!-- <hr class="horizontal dark my-sm-4">
        <a class="btn bg-gradient-dark w-100" href="https://www.creative-tim.com/product/soft-ui-dashboard">Free Download</a>
        <a class="btn btn-outline-dark w-100" href="https://www.creative-tim.com/learning-lab/bootstrap/license/soft-ui-dashboard">View documentation</a>
        <div class="w-100 text-center">
          <a class="github-button" href="https://github.com/creativetimofficial/soft-ui-dashboard" data-icon="octicon-star" data-size="large" data-show-count="true" aria-label="Star creativetimofficial/soft-ui-dashboard on GitHub">Star</a>
          <h6 class="mt-3">Thank you for sharing!</h6>
          <a href="https://twitter.com/intent/tweet?text=Check%20Soft%20UI%20Dashboard%20made%20by%20%40CreativeTim%20%23webdesign%20%23dashboard%20%23bootstrap5&amp;url=https%3A%2F%2Fwww.creative-tim.com%2Fproduct%2Fsoft-ui-dashboard" class="btn btn-dark mb-0 me-2" target="_blank">
            <i class="fab fa-twitter me-1" aria-hidden="true"></i> Tweet
          </a>
          <a href="https://www.facebook.com/sharer/sharer.php?u=https://www.creative-tim.com/product/soft-ui-dashboard" class="btn btn-dark mb-0 me-2" target="_blank">
            <i class="fab fa-facebook-square me-1" aria-hidden="true"></i> Share
          </a>
        </div>-->
        </div>
      </div>
    </div>
    <div id="datos">
    </div>
    <div id="datos">
    </div>

    <!--   Core JS Files   -->
    <script src="../js/core/popper.min.js"></script>
    <script src="../js/core/bootstrap.min.js"></script>
    <script src="../js/plugins/perfect-scrollbar.min.js"></script>
    <script src="../js/plugins/smooth-scrollbar.min.js"></script>
    <script src="../js/plugins/chartjs.min.js"></script>
    <script src="/js/Sortable.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"
      integrity="sha384-oBqDVmMz9ATKxIep9tiCxS/Z9fNfEXiDAYTujMAeBAsjFuCZSmKbSSUnQlmh/jp3"
      crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.min.js"
      integrity="sha384-mQ93GR66B00ZXjt0YO5KlohRA5SY2XofN4zfuZxLkoj1gXtW8ANNCe9d5Y3eG5eD"
      crossorigin="anonymous"></script>

    <script>


      window.onload = function () {

        updatelink()
      }
      function updatelink() {
        let link = document.getElementById("string01").value;
        link
        document.getElementById("linkbutton").href = link
        console.log("LINK: " + link)
      }
      var $tableBody = $('#recipeTableBody');
      var $menu = $('#menu');
      $(document).on('click', '.recipe-table__add-row-btn', function (e) {
        var $el = $(e.currentTarget);
        var htmlString = $('#rowTemplate').html();
        $tableBody.append(htmlString);
        return false;
      });

      $tableBody.on('click', '.recipe-table__del-row-btn', function (e) {
        var $el = $(e.currentTarget);
        var $row = $el.closest('tr');
        $row.remove();
        return false;
      });
      Sortable.create(
        $tableBody[0],
        {
          animation: 150,
          scroll: true,
          handle: '.drag-handler',
          onEnd: function () {
            console.log('More see in https://github.com/RubaXa/Sortable');
          }
        }
      );

      var ctx = document.getElementById("chart-bars").getContext("2d");

      new Chart(ctx, {
        type: "bar",
        data: {
          labels: ["Apr", "May", "Jun", "Jul", "Aug", "Sep", "Oct", "Nov", "Dec"],
          datasets: [{
            label: "Sales",
            tension: 0.4,
            borderWidth: 0,
            borderRadius: 4,
            borderSkipped: false,
            backgroundColor: "#fff",
            data: [450, 200, 100, 220, 500, 100, 400, 230, 500],
            maxBarThickness: 6
          },],
        },
        options: {
          responsive: true,
          maintainAspectRatio: false,
          plugins: {
            legend: {
              display: false,
            }
          },
          interaction: {
            intersect: false,
            mode: 'index',
          },
          scales: {
            y: {
              grid: {
                drawBorder: false,
                display: false,
                drawOnChartArea: false,
                drawTicks: false,
              },
              ticks: {
                suggestedMin: 0,
                suggestedMax: 500,
                beginAtZero: true,
                padding: 15,
                font: {
                  size: 14,
                  family: "Open Sans",
                  style: 'normal',
                  lineHeight: 2
                },
                color: "#fff"
              },
            },
            x: {
              grid: {
                drawBorder: false,
                display: false,
                drawOnChartArea: false,
                drawTicks: false
              },
              ticks: {
                display: false
              },
            },
          },
        },
      });


      var ctx2 = document.getElementById("chart-line").getContext("2d");

      var gradientStroke1 = ctx2.createLinearGradient(0, 230, 0, 50);

      gradientStroke1.addColorStop(1, 'rgba(203,12,159,0.2)');
      gradientStroke1.addColorStop(0.2, 'rgba(72,72,176,0.0)');
      gradientStroke1.addColorStop(0, 'rgba(203,12,159,0)'); //purple colors

      var gradientStroke2 = ctx2.createLinearGradient(0, 230, 0, 50);

      gradientStroke2.addColorStop(1, 'rgba(20,23,39,0.2)');
      gradientStroke2.addColorStop(0.2, 'rgba(72,72,176,0.0)');
      gradientStroke2.addColorStop(0, 'rgba(20,23,39,0)'); //purple colors

      new Chart(ctx2, {
        type: "line",
        data: {
          labels: ["Apr", "May", "Jun", "Jul", "Aug", "Sep", "Oct", "Nov", "Dec"],
          datasets: [{
            label: "Mobile apps",
            tension: 0.4,
            borderWidth: 0,
            pointRadius: 0,
            borderColor: "#cb0c9f",
            borderWidth: 3,
            backgroundColor: gradientStroke1,
            fill: true,
            data: [50, 40, 300, 220, 500, 250, 400, 230, 500],
            maxBarThickness: 6

          },
          {
            label: "Websites",
            tension: 0.4,
            borderWidth: 0,
            pointRadius: 0,
            borderColor: "#3A416F",
            borderWidth: 3,
            backgroundColor: gradientStroke2,
            fill: true,
            data: [30, 90, 40, 140, 290, 290, 340, 230, 400],
            maxBarThickness: 6
          },
          ],
        },
        options: {
          responsive: true,
          maintainAspectRatio: false,
          plugins: {
            legend: {
              display: false,
            }
          },
          interaction: {
            intersect: false,
            mode: 'index',
          },
          scales: {
            y: {
              grid: {
                drawBorder: false,
                display: true,
                drawOnChartArea: true,
                drawTicks: false,
                borderDash: [5, 5]
              },
              ticks: {
                display: true,
                padding: 10,
                color: '#b2b9bf',
                font: {
                  size: 11,
                  family: "Open Sans",
                  style: 'normal',
                  lineHeight: 2
                },
              }
            },
            x: {
              grid: {
                drawBorder: false,
                display: false,
                drawOnChartArea: false,
                drawTicks: false,
                borderDash: [5, 5]
              },
              ticks: {
                display: true,
                color: '#b2b9bf',
                padding: 20,
                font: {
                  size: 11,
                  family: "Open Sans",
                  style: 'normal',
                  lineHeight: 2
                },
              }
            },
          },
        },
      });
    </script>
    <script>
      var win = navigator.platform.indexOf('Win') > -1;
      if (win && document.querySelector('#sidenav-scrollbar')) {
        var options = {
          damping: '0.5'
        }
        Scrollbar.init(document.querySelector('#sidenav-scrollbar'), options);
      }
    </script>
    <!-- Github buttons -->
    <script async defer src="https://buttons.github.io/buttons.js"></script>
    <!-- Control Center for Soft Dashboard: parallax effects, scripts for the example pages etc -->
    <script src="../js/soft-ui-dashboard.min.js?v=1.0.7"></script>
</body>

</html>