
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <link rel="apple-touch-icon" sizes="76x76" href="../img/apple-icon.png">
  <link rel="icon" type="image/png" href="../img/favicon.png">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.3/font/bootstrap-icons.css">
  <title>
    SYSEC-LISTA ORDENES DE COMPRA
  </title>
  <!--     Fonts and icons     -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700" rel="stylesheet" />
  <!-- Nucleo Icons -->
  <link href="../css/nucleo-icons.css" rel="stylesheet" />
  <link href="../css/nucleo-svg.css" rel="stylesheet" />
  <!-- Font Awesome Icons -->
  <script src="https://kit.fontawesome.com/42d5adcbca.js" crossorigin="anonymous"></script>
  <link href="../css/nucleo-svg.css" rel="stylesheet" />
  <!-- CSS Files -->
  <link id="pagestyle" href="../css/soft-ui-dashboard.css?v=1.0.7" rel="stylesheet" />
  <!-- Nepcha Analytics (nepcha.com) -->
  <!-- Nepcha is a easy-to-use web analytics. No cookies and fully compliant with GDPR, CCPA and PECR. -->
  <!-- nepcha script  -->
</head>

<body class="g-sidenav-show  bg-gray-100">
  <%- include ('../partials/_sideNavBar.ejs') %> 

  <main class="main-content position-relative max-height-vh-100 h-100 border-radius-lg ">
    <!-- Navbar -->
    <%- include ('../partials/_navBar.ejs') %> 
    <!-- End Navbar -->
    <h4>
      <%= locals.title %>
    </h4>
   
      <div class="row my-4">
        <div class="col-lg-12 col-md-12 mb-md-0 mb-4">
          <div class="card">
            <div class="card-header pb-0">
              <div class="row">
                <div class="col-lg-2 col-2">
                  <h6><%= locals.description %></h6>
                </div>
              
                <div class="col-lg-1 col-1">
                <form action="./index" id="myForm1" method="get">
                  
                  <span class=" text-body"><i class="bi bi-search" aria-hidden="true" onclick="document.getElementById('myForm1').submit();"></i></span>
                     
                   </form>
                  </div>
              
                <div class="col-lg-4 col-8">
                <form action="./search" id="myForm" method="post">
                  <input id="sradio" type="text" value="<%= search %>" hidden>
                
                  <div class="input-group">
                    <span class="input-group-text text-body"><i id="myBtn" class="bi bi-search" aria-hidden="true" onclick="document.getElementById('myForm').submit();"></i></span>
                    <input type="text"  class="form-control" id="searchTerm" name="searchTerm" value="<%= searchTerm %>" placeholder="">
                  </div>
                  <script>
                    var input = document.getElementById("searchTerm");
                    input.addEventListener("keypress", function(event) {
                      if (event.key === "Enter") {
                        event.preventDefault();
                        document.getElementById("myBtn").click();
                      }
                    });
                    </script>

                </div>
                

                <div class="col-lg-2 col-2">
             
                </div>
                <div class="col-lg-2 col-4 my-auto text-end">
                  <div class="dropdown float-lg-end pe-4">
                    <a class="cursor-pointer" id="dropdownTable" data-bs-toggle="dropdown" aria-expanded="false">
                      <i class="bi bi-three-dots-vertical text-secondary"></i>
                    </a>
                    <ul class="dropdown-menu px-2 py-3 ms-sm-n4 ms-n5" aria-labelledby="dropdownTable">
                      <li><a class="dropdown-item border-radius-md" href="./add">Nueva Orden de Compra</a></li>
                      <li><a class="dropdown-item border-radius-md" href="javascript:;">.......</a></li>
                      <li><a class="dropdown-item border-radius-md" href="javascript:;">.......</a></li>
                    </ul>
                  </div>
                </div>
              </div>
            </div></div></div>
            <div class="card  ">
              <div class="table-responsive ">

                <table class="table table-striped table-success ">
                  <thead>
                  <tr>

                    
                    <th class="text-uppercase text-primary text-xs font-weight-bolder opacity-100 col-1">ID OC
                      <input type="radio"id="idordencompra,1" name="search" value="idordencompra,1"  onclick="document.getElementById('myForm').submit();"/>
                      <input type="radio"id="idordencompra,-1" name="search" value="idordencompra,-1" onclick="document.getElementById('myForm').submit();"/>
                    </th>
                    <th class="text-uppercase text-primary text-xs font-weight-bolder opacity-100 ps-2 col-2">Título
                      <input type="radio"id="titulo,1" name="search" value="titulo,1"  onclick="document.getElementById('myForm').submit();"/>
                      <input type="radio"id="titulo,-1" name="search" value="titulo,-1" onclick="document.getElementById('myForm').submit();"/>
                    </th>
                    <!-- <th class="text-uppercase text-primary text-xs font-weight-bolder opacity-100 ps-2 col-1">Precio Venta
                      <input type="radio"id="idorganizacion,1" name="search" value="idorganizacion,1"  />
                      <input type="radio"id="idorganizacion,-1" name="search" value="idorganizacion,-1" />
                    </th> -->

                    <th class="text-uppercase text-primary text-xs font-weight-bolder opacity-100 ps-2 col-1">ID Proveedor
                      <input type="radio"id="idorganizacion,1" name="search" value="idorganizacion,1"  onclick="document.getElementById('myForm').submit();"/>
                      <input type="radio"id="idorganizacion,-1" name="search" value="idorganizacion,-1" onclick="document.getElementById('myForm').submit();"/>
                    </th>
                    <th class="text-uppercase text-primary text-xs font-weight-bolder opacity-100 ps-2 col-2 ">Proveedor
                      <input type="radio"id="nombreorganizacion,1" name="search" value="nombreorganizacion,1"  onclick="document.getElementById('myForm').submit();"/>
                      <input type="radio"id="nombreorganizacion,-1" name="search" value="nombreorganizacion,-1" onclick="document.getElementById('myForm').submit();"/>
                    </th>
                    <!-- <th class="text-uppercase text-primary text-xs font-weight-bolder opacity-100 ps-2 col-1">U.Neg
                      <input type="radio"id="iditemcompra,1" name="search" value="iditemcompra,1"  />
                      <input type="radio"id="iditemcompra,-1" name="search" value="iditemcompra,-1" />
                    </th>
                    <th class="text-uppercase text-primary text-xs font-weight-bolder opacity-100 ps-2 col-1">Merc.
                      <input type="radio"id="iditemcompra,1" name="search" value="iditemcompra,1"  />
                      <input type="radio"id="iditemcompra,-1" name="search" value="iditemcompra,-1" />
                    </th> -->
                   
                    <th class="text-center text-uppercase text-primary text-xs font-weight-bolder opacity-100 col-1">F.Compra
                      <input type="radio"id="iditemcompra,1" name="search" value="iditemcompra,1"  onclick="document.getElementById('myForm').submit();"/>
                      <input type="radio"id="iditemcompra,-1" name="search" value="iditemcompra,-1" onclick="document.getElementById('myForm').submit();"/>
                    </th>
                     <th class="text-center text-uppercase text-primary text-xs font-weight-bolder opacity-100 col-1">F.Entrga
                      <input type="radio"id="iditemcompra,1" name="search" value="iditemcompra,1"  />
                      <input type="radio"id="iditemcompra,-1" name="search" value="iditemcompra,-1" />
                    </th> 
                    <th class="text-center text-uppercase text-primary text-xs font-weight-bolder opacity-100 col-1">Estado
                      <input type="radio"id="estado,1" name="search" value="estado,1"  onclick="document.getElementById('myForm').submit();"/>
                      <input type="radio"id="estado,-1" name="search" value="estado,-1" onclick="document.getElementById('myForm').submit();"/>
                    </th>
                    <th class="text-center text-uppercase text-primary text-xs font-weight-bolder opacity-100 col-2">Fact|Cobr1|Cobr2|Entr
                      <input type="radio"id="iditemcompra,1" name="search" value="iditemcompra,1" onclick="document.getElementById('myForm').submit();"/>
                      <input type="radio"id="iditemcompra,-1" name="search" value="iditemcompra,-1" onclick="document.getElementById('myForm').submit();"/>
                    </th>
                 
                    
                  </tr>
                </thead>
                <tbody>
                </form>
          <% ordencompra.forEach(element => { %>
           

              <tr >
                <td class="text-xs" ><%= element.idordencompra %></td>
                <td  class="text-xs"><%= element.titulo.slice(0,40) %></td>
                <!-- <td  class="text-xs"><%= element.precioventa %>-<%= element.numero01 %> </td> -->
                <td  class="text-xs"><%= element.idorganizacion%></td>
                <td  class="text-xs " ><%= element.nombreorganizacion.slice(0,40)%></td>

                
                <!-- <td class="text-xs"><%= element.unidadnegocio %></td>
                <td  class="text-xs"><%= element.mercado %></td> -->
                
            
                <td  class="text-xs"><%= element.fechaventa %> </td>
                <td  class="text-xs"></td> <%= element.fechaentrega %> </td>
              
                <td  class="text-xs"><%= element.estado %></td>
                <td> 
                  <div class="row">
                          
                    <% if((element.array1[0]!=100)&&(element.precioventa>0 ))  {%> <div class="col-2 " style="background-color:tomato" > <%= element.array1[0] %> %</div>         <%} %>                       
                    <% if((element.array1[0]==100)&&(element.precioventa>0 ))  {%> <div class="col-2 " style="background-color:greenyellow" >  <%= element.array1[0] %> %</div>   <%} %> 
                    <% if((element.precioventa==0)&&(element.numero01!=0 )) {%> <div class="col-2 " style="background-color:rgb(184, 178, 178)" >  --- </div>  <%} %> 
                    <% if((element.precioventa==0)&&(element.numero01==0 )) {%> <div class="col-2 " style="background-color:rgb(235, 184, 16)"> Falta 1</div><%} %>                                      
                    <% if(element.precioventa<0 )  {%> <div class="col-2 " style="background-color:rgb(235, 184, 16)"> Falta 1</div><%} %>                   
                        -

                    <% if((element.array1[0]!=100)&&(element.precioventa>0 )) { %> <div class="col-2 " style="background-color:tomato" >   <%= element.array1[1] %> %</div>        <% } %>                       
                    <% if((element.array1[0]==100)&&(element.precioventa>0 )) { %> <div class="col-2 " style="background-color:greenyellow" > <%= element.array1[1] %> %</div>     <% } %> 
                    <% if((element.precioventa==0)&&(element.numero01!=0 )) { %> <div class="col-2 " style="background-color:rgb(184, 178, 178)"> --- </div> <% } %>                   
                    <% if((element.precioventa==0)&&(element.numero01==0 )) {%> <div class="col-2 " style="background-color:rgb(235, 184, 16)"> Falta 1</div><%} %>                                      
                    <% if(element.precioventa<0 ) { %> <div class="col-2 " style="background-color:rgb(235, 184, 16)"> Falta 1</div>     <% } %> 
                    -

                    <% if((element.array1[0]!=100)&&(element.numero01>0 )) { %> <div class="col-2 " style="background-color:tomato" >   <%= element.array1[2] %> %</div>       <% } %>                       
                    <% if((element.array1[0]==100)&&(element.numero01>0 )) { %> <div class="col-2 " style="background-color:greenyellow" >  <%= element.array1[2] %> %</div>   <% } %> 
                    <% if((element.precioventa!=0)&&(element.numero01==0 )) { %> <div class="col-2 " style="background-color:rgb(184, 178, 178)"> --- </div> <% } %>                   
                    <% if((element.precioventa==0)&&(element.numero01==0 )) {%> <div class="col-2 " style="background-color:rgb(247, 230, 81, 0.747)"> Falta 2</div><%} %>                                      
                   <% if(element.numero01<0 ) { %> <div class="col-2 " style="background-color:rgba(247, 230, 81, 0.747)"> Falta 2</div>  <% } %> 
                      -
                    
                    <% if(element.array1[3]==100) { %> <div class="col-2 " style="background-color:greenyellow" ><% } else{ %> <div class="col-2 " style="background-color:tomato" ><% } %>
                      <% if(element.array1[3]=='NaN') { %> 0 <% } else{ %>  <%= element.array1[3] %> <% } %> %</div>
                 <div class="col-2 "> 
                  <!-- </div> -->
                <!-- </td>
            

                <td class="text-start text-secondary text-xs font-weight-bolder text-black-100"> -->
                  <!-- <div class="justify-content-start "> -->
                    <!-- <a href="view/<%= element._id %>" type="btn btn-info boton-color" >
                    <i class="bi bi-eye "></i>
                    </a>
                    <a href="edit/<%= element._id %>" type="button" >
                      <div class="espacio"></div>
                      </a> -->
                  <a href="edit/<%= element._id %>" type="button" >
                  <i class="bi bi-pencil"></i>
                  </a>
                  <a href="edit/<%= element._id %>" type="button" >
                  <div class="espacio"></div>
                  </a>
                      <!-- <a href="pdfcotizacion2/<%= element._id %>" type="button" >
                      <i class="bi bi-quora"></i>
                      </a> -->
                 
                  <div class="col-2 "> 
                    <% if((user.role=="ADM" )||(user.role=="SIS" )||(user.role=="VEN" )){ %>
                      <%= element.precioventa %> | <%= element.numero01 %> <% } else{ %>
                        <% } %>
                   
                  </div> 
                </div>

                </td>
              </tr>
        <% }) %>
        </tbody>
            </table>
              </div>
      
      
      
      <% if (ordencompra.length > 0) { %>    
    
          <nav aria-label="Dashboard Pagination">
            <ul class="pagination justify-content-center mt-5 fixed">
              <% if (current==1) { %>
                <li class="page-item disabled"><a href="#" class="page-link">First</a></li>
                <% } else { %>
                  <li class="page-item"><a href="index?page=1" class="page-link">First</a></li>
                  <% } %>

                    <% var i=(Number(current)> 5 ? Number(current) - 4 : 1) %>
                      <% if(i !==1) { %>
                        <li class="page-item disabled"><a href="#" class="page-link">...</a></li>
                        <% } %>

                          <% for(; i <=(Number(current) + 4) && i <=pages; i++ ) { %>
                            <% if (i==current) { %>
                              <li class="page-item disabled"><a href="#" class="page-link">
                                  <%= i %>
                                </a></li>
                              <% } else { %>
                                <li class="page-item"><a href="index?page=<%= i %>" class="page-link">
                                    <%= i %>
                                  </a></li>
                                <% } %>
                                  <% if (i==Number(current) + 4 && i < pages) { %>
                                    <li class="page-item disabled"><a href="#" class="page-link">...</a></li>
                                    <% } %>
                                      <% } %>

                                        <% if (current==pages) { %>
                                          <li class="page-item disabled"><a href="#" class="page-link">Last</a></li>
                                          <% } else { %>
                                            <li class="page-item"><a href="index?page=<%= pages %>"
                                                class="page-link">Last</a></li>
                                            <% } %>
            </ul>
          </nav>
          <% } %>



     



    </div>
  </main>
  <div class="fixed-plugin">
    <a class="fixed-plugin-button text-dark position-fixed px-3 py-2">
      <i class="bi bi-gear-fill py-2"> </i>
    </a>
    <div class="card shadow-lg ">
      <div class="card-header pb-0 pt-3 ">
        <div class="float-start">
          <h5 class="mt-3 mb-0">Configuracion</h5>
          <p>Personaliza tu dashboard.</p>
        </div>
        <div class="float-end mt-4">
          <button class="btn btn-link text-dark p-0 fixed-plugin-close-button">
            <i class="bi bi-x-circle-fill"></i>
          </button>
        </div>
        <!-- End Toggle Button -->
      </div>
      <hr class="horizontal dark my-1">
      <div class="card-body pt-sm-3 pt-0">
        <!-- Sidebar Backgrounds -->
        <div>
          <h6 class="mb-0">Color Barra lateral</h6>
        </div>
        <a href="javascript:void(0)" class="switch-trigger background-color">
          <div class="badge-colors my-2 text-start">
            <span class="badge filter bg-gradient-primary active" data-color="primary" onclick="sidebarColor(this)"></span>
            <span class="badge filter bg-gradient-dark" data-color="dark" onclick="sidebarColor(this)"></span>
            <span class="badge filter bg-gradient-info" data-color="info" onclick="sidebarColor(this)"></span>
            <span class="badge filter bg-gradient-success" data-color="success" onclick="sidebarColor(this)"></span>
            <span class="badge filter bg-gradient-warning" data-color="warning" onclick="sidebarColor(this)"></span>
            <span class="badge filter bg-gradient-danger" data-color="danger" onclick="sidebarColor(this)"></span>
          </div>
        </a>
        <!-- Sidenav Type -->
        <div class="mt-3">
          <h6 class="mb-0">Tipo de barra lateral</h6>
          <p class="text-sm">Selecciona un tipo de barra</p>
        </div>
        <div class="d-flex">
          <button class="btn bg-gradient-primary w-100 px-3 mb-2 active" data-class="bg-transparent" onclick="sidebarType(this)">Transparente</button>
          <button class="btn bg-gradient-primary w-100 px-3 mb-2 ms-2" data-class="bg-white" onclick="sidebarType(this)">Blanco</button>

        </div>
        <p class="text-sm d-xl-none d-block mt-2"></p>
        <!-- Navbar Fixed -->
        <div class="mt-3">
          <h6 class="mb-0">Barra superior fija</h6>
        </div>
        <div class="form-check form-switch ps-0">
          <input class="form-check-input mt-1 ms-auto" type="checkbox" id="navbarFixed" onclick="navbarFixed(this)">
        </div>
        <!-- <hr class="horizontal dark my-sm-4">
        <a class="btn bg-gradient-dark w-100" href="https://www.creative-tim.com/product/soft-ui-dashboard">Free Download</a>
        <a class="btn btn-outline-dark w-100" href="https://www.creative-tim.com/learning-lab/bootstrap/license/soft-ui-dashboard">View documentation</a>
        <div class="w-100 text-center">
          <a class="github-button" href="https://github.com/creativetimofficial/soft-ui-dashboard" data-icon="octicon-star" data-size="large" data-show-count="true" aria-label="Star creativetimofficial/soft-ui-dashboard on GitHub">Star</a>
          <h6 class="mt-3">Thank you for sharing!</h6>
          <a href="https://twitter.com/intent/tweet?text=Check%20Soft%20UI%20Dashboard%20made%20by%20%40CreativeTim%20%23webdesign%20%23dashboard%20%23bootstrap5&amp;url=https%3A%2F%2Fwww.creative-tim.com%2Fproduct%2Fsoft-ui-dashboard" class="btn btn-dark mb-0 me-2" target="_blank">
            <i class="fab fa-twitter me-1" aria-hidden="true"></i> Tweet
          </a>
          <a href="https://www.facebook.com/sharer/sharer.php?u=https://www.creative-tim.com/product/soft-ui-dashboard" class="btn btn-dark mb-0 me-2" target="_blank">
            <i class="fab fa-facebook-square me-1" aria-hidden="true"></i> Share
          </a>
        </div>-->
      </div>
    </div>
  </div> 
  <!--   Core JS Files   -->
  <script src="../js/core/popper.min.js"></script>
  <script src="../js/core/bootstrap.min.js"></script>
  <script src="../js/plugins/perfect-scrollbar.min.js"></script>
  <script src="../js/plugins/smooth-scrollbar.min.js"></script>
  <script src="../js/plugins/chartjs.min.js"></script>
  <script>

let searchradio = document.getElementById("sradio").value
      document.getElementById(searchradio).checked = true
    var ctx = document.getElementById("chart-bars").getContext("2d");

    new Chart(ctx, {
      type: "bar",
      data: {
        labels: ["Apr", "May", "Jun", "Jul", "Aug", "Sep", "Oct", "Nov", "Dec"],
        datasets: [{
          label: "Sales",
          tension: 0.4,
          borderWidth: 0,
          borderRadius: 4,
          borderSkipped: false,
          backgroundColor: "#fff",
          data: [450, 200, 100, 220, 500, 100, 400, 230, 500],
          maxBarThickness: 6
        }, ],
      },
      options: {
        responsive: true,
        maintainAspectRatio: false,
        plugins: {
          legend: {
            display: false,
          }
        },
        interaction: {
          intersect: false,
          mode: 'index',
        },
        scales: {
          y: {
            grid: {
              drawBorder: false,
              display: false,
              drawOnChartArea: false,
              drawTicks: false,
            },
            ticks: {
              suggestedMin: 0,
              suggestedMax: 500,
              beginAtZero: true,
              padding: 15,
              font: {
                size: 14,
                family: "Open Sans",
                style: 'normal',
                lineHeight: 2
              },
              color: "#fff"
            },
          },
          x: {
            grid: {
              drawBorder: false,
              display: false,
              drawOnChartArea: false,
              drawTicks: false
            },
            ticks: {
              display: false
            },
          },
        },
      },
    });


    var ctx2 = document.getElementById("chart-line").getContext("2d");

    var gradientStroke1 = ctx2.createLinearGradient(0, 230, 0, 50);

    gradientStroke1.addColorStop(1, 'rgba(203,12,159,0.2)');
    gradientStroke1.addColorStop(0.2, 'rgba(72,72,176,0.0)');
    gradientStroke1.addColorStop(0, 'rgba(203,12,159,0)'); //purple colors

    var gradientStroke2 = ctx2.createLinearGradient(0, 230, 0, 50);

    gradientStroke2.addColorStop(1, 'rgba(20,23,39,0.2)');
    gradientStroke2.addColorStop(0.2, 'rgba(72,72,176,0.0)');
    gradientStroke2.addColorStop(0, 'rgba(20,23,39,0)'); //purple colors

    new Chart(ctx2, {
      type: "line",
      data: {
        labels: ["Apr", "May", "Jun", "Jul", "Aug", "Sep", "Oct", "Nov", "Dec"],
        datasets: [{
            label: "Mobile apps",
            tension: 0.4,
            borderWidth: 0,
            pointRadius: 0,
            borderColor: "#cb0c9f",
            borderWidth: 3,
            backgroundColor: gradientStroke1,
            fill: true,
            data: [50, 40, 300, 220, 500, 250, 400, 230, 500],
            maxBarThickness: 6

          },
          {
            label: "Websites",
            tension: 0.4,
            borderWidth: 0,
            pointRadius: 0,
            borderColor: "#3A416F",
            borderWidth: 3,
            backgroundColor: gradientStroke2,
            fill: true,
            data: [30, 90, 40, 140, 290, 290, 340, 230, 400],
            maxBarThickness: 6
          },
        ],
      },
      options: {
        responsive: true,
        maintainAspectRatio: false,
        plugins: {
          legend: {
            display: false,
          }
        },
        interaction: {
          intersect: false,
          mode: 'index',
        },
        scales: {
          y: {
            grid: {
              drawBorder: false,
              display: true,
              drawOnChartArea: true,
              drawTicks: false,
              borderDash: [5, 5]
            },
            ticks: {
              display: true,
              padding: 10,
              color: '#b2b9bf',
              font: {
                size: 11,
                family: "Open Sans",
                style: 'normal',
                lineHeight: 2
              },
            }
          },
          x: {
            grid: {
              drawBorder: false,
              display: false,
              drawOnChartArea: false,
              drawTicks: false,
              borderDash: [5, 5]
            },
            ticks: {
              display: true,
              color: '#b2b9bf',
              padding: 20,
              font: {
                size: 11,
                family: "Open Sans",
                style: 'normal',
                lineHeight: 2
              },
            }
          },
        },
      },
    });
  </script>
  <script>
    var win = navigator.platform.indexOf('Win') > -1;
    if (win && document.querySelector('#sidenav-scrollbar')) {
      var options = {
        damping: '0.5'
      }
      Scrollbar.init(document.querySelector('#sidenav-scrollbar'), options);
    }
  </script>
  <!-- Github buttons -->
  <script async defer src="https://buttons.github.io/buttons.js"></script>
  <!-- Control Center for Soft Dashboard: parallax effects, scripts for the example pages etc -->
  <script src="../js/soft-ui-dashboard.min.js?v=1.0.7"></script>
</body>

</html>